<ngx-spinner
  bdColor="rgba(255,255,255,0.8)"
  size="medium"
  color="#a2a2a2"
  type="ball-beat"
  [fullScreen]="true"
  ><p style="color: rgb(28, 183, 51)">Loading...</p></ngx-spinner
>
<div class="container mt-4 mb-4">
  <div class="row">
    <div class="div col-xs-12">
      <h2>SweeftDigital Task</h2>
      <img
        src="../assets/logo-black-grad.svg"
        alt="logo"
        style="width: 200px"
      />

      <hr />

      <router-outlet></router-outlet>
    </div>
  </div>
</div>
